<div class="overlay"></div>
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close">close</button>
    </div>
    <div class="modal-body">
      <div class="post" data-id="<%=post.id%>">
        <h4 class="post__title"><%=post.title%></h4>
        <p class="post__body"><%=post.body%></p>
      </div>
      <div class="comments">
        <% comments.forEach(function(comment) { %>
        <p>Name: <%=comment.name%></p>
        <p>Email: <%=comment.email%></p>
        <% }); %>
      </div>
    </div>
  </div>
</div>
